# /Users/mitchellhanberg/.config/tmuxinator/code.yml

name: <%= @args[0].gsub("\.", "") %>
root: <%= `project-dir #{@args[0]}` %>

windows:
  - editor: eval ${TMUXINATOR_STARTUP_COMMAND:-v}
  - shell: 
